.square {
  width: 100px;
  height: 100px;
}

p {
  font-size: 1.2em;
}

.red {
  background-color: rgba(175, 26, 26, 0.4);
}

.green {
  background-color: rgba(26, 175, 73, 0.5);
}

.warning {
  font-size: 1.5em;
  background-color: rgba(175, 26, 26, 0.726);
  font-weight: 500;
}

.styleO {
  /* background-color: rgb(250, 255, 240); */
  color: green;
  font-size: 46px;
  font-weight: 400;
  width: 100px;
  height: 100px;
  margin: 0.25%;
}

.styleX{
  /* background-color: rgb(189, 220, 247) ; */
  color: red;
  font-size: 46px;
  font-weight: 400;
  width: 100px;
  height: 100px;
  margin: 0.25%;
}

/* //Comment */
